@page "/admin/signup"
@using MyOwnPortfolio.Model
@using MyOwnPortfolio.Services
@layout MyOwnPortfolio.Components.Layout.AdminLoginLayout
@inject NavigationManager NavigationManager

<h3>Registration</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                <div class="card-body">
                    <from Model="@registrationModel" OnValidSubmit="@(()=>HandleRegistration())"  method="post" FormName="customer" >
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <InputText id="FirstName" class="form-control"   @bind-Value="registrationModel.FirstName" placeholder="Enter your first name" />
                                    <ValidationMessage For="@(() => registrationModel.FirstName)" />
                                    <label for="FirstName">FirstName:</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">

                                    <InputText id="LastName" class="form-control" @bind-Value="registrationModel.LastName" placeholder="Enter your last name" />
                                    <ValidationMessage For="@(() => registrationModel.LastName)" />
                                    <label for="LastName">LastName:</label>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 mb-0">
                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit" >Create Account</button></div>
                        </div>
                    </from>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="/admin/login">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Inject] LayoutService LayoutService { get; set; }
    [SupplyParameterFromForm]
    public RegistrationModel registrationModel { get; set; } = new RegistrationModel();
    protected override void OnInitialized()
    {
        LayoutService.ChangeLayout(typeof(Layout.AdminLoginLayout));

    }


    private async Task HandleRegistration()
    {
        try
        {
            StateHasChanged();
        }
        catch (Exception)
        {

            throw;
        }
    }
}
