@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<DynamicLayout UseMainLayout="true">
    <h3>This content is rendered in the Main Layout</h3>
</DynamicLayout>

<DynamicLayout UseMainLayout="false">
    <h3>This content is rendered in the Admin Layout</h3>
</DynamicLayout>
